In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
#Read the Data File and store into Pandas DataFrames
filepath="../Resource/labs.csv"
df= pd.read_csv(filepath)
df.head(10)

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,0.062,0.0,0.238,0.0,0.0071,0.0,NaN,3.83,NaN,NaN
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1
5,73562,123.0,123.0,74.0,6541.6,166.22,NaN,NaN,NaN,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.0,553.5
6,73563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,73564,19.0,19.0,242.0,21392.8,7.85,134054.109760,77.0,0.77,3.9,...,0.253,0.0,0.115,0.0,0.0309,0.0,NaN,21.28,668.0,493.0
8,73566,1.3,1.3,18.0,1591.2,7.22,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378.0,279.0
9,73567,35.0,35.0,215.0,19006.0,16.28,NaN,NaN,NaN,4.0,...,0.148,0.0,0.078,0.0,0.0436,0.0,NaN,6.07,194.0,143.2

In [3]:
#defining the selected variables and extracting the table from the main data
cols_to_clean = ['SEQN','LBXTHG', 'LBXBSE', 'LBXBPB', 'LBXBMN', 'LBXBCD', 'LBXTR', 'LBDLDL', 'LBDHDD']
variable_df=df[cols_to_clean]
variable_df.head()

    SEQN  LBXTHG  LBXBSE  LBXBPB  LBXBMN  LBXBCD  LBXTR  LBDLDL  LBDHDD
0  73557     NaN     NaN     NaN     NaN     NaN    NaN     NaN    65.0
1  73558    1.21  204.73    1.69    8.15    0.20    NaN     NaN    50.0
2  73559    1.27  209.64    1.45    9.57    0.22   51.0    56.0    60.0
3  73560    0.88  169.82    0.37   13.07    0.07    NaN     NaN    61.0
4  73561     NaN     NaN     NaN     NaN     NaN   75.0   101.0    85.0

In [4]:
#dropping the rows with null cells
for col in cols_to_clean:
    variable_df = variable_df.dropna(subset=[col])

In [5]:
variable_df.dtypes

SEQN        int64
LBXTHG    float64
LBXBSE    float64
LBXBPB    float64
LBXBMN    float64
LBXBCD    float64
LBXTR     float64
LBDLDL    float64
LBDHDD    float64
dtype: object

In [12]:
#renaming the variables
df2=variable_df.rename(columns={
    "SEQN":"patient ID",
    "LBXTHG":"mercury (ug/L)", 
    "LBXBSE":"selenium(ug/L)", 
    "LBXBPB":"lead(ug/dL)", 
    "LBXBMN": "manganese(ug/L)", 
    "LBXBCD":"cadmium(ug/L)", 
    "LBXTR":"triglycerides(mg/dL)", 
    "LBDLDL":"LDL-cholesterol(mg/dL)", 
    "LBDHDD":"HDL-Cholesterol(mg/dL)"
})

In [13]:
#double check the clean data
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555 entries, 2 to 9799
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   patient ID              1555 non-null   int64
 1   mercury (ug/L)          1555 non-null   float64
 2   selenium(ug/L)          1555 non-null   float64
 3   lead(ug/dL)             1555 non-null   float64
 4   manganese(ug/L)         1555 non-null   float64
 5   cadmium(ug/L)           1555 non-null   float64
 6   triglycerides(mg/dL)    1555 non-null   float64
 7   LDL-cholesterol(mg/dL)  1555 non-null   float64
 8   HDL-Cholesterol(mg/dL)  1555 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 121.5 KB

In [14]:
#save the data in a new excel file(new_lab) which is now located in the Resource folder
df2.to_excel("../Resource/new_lab.xlsx", index=False , header=True)